<a href="https://colab.research.google.com/github/Rogerio-mack/IMT_CD_2025/blob/main/ex_pandas1_solucao.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<head>
  <meta name="author" content="Rogério de Oliveira">
  <meta institution="author" content="ITM">
</head>

<img src="https://maua.br/images/selo-60-anos-maua.svg" width=300, align="right">
<!-- <h1 align=left><font size = 6, style="color:rgb(200,0,0)"> optional title </font></h1> -->

# Lab: Seleção de Dados em Pandas

Referências e Materiais úteis para este Lab:

- [Notas de Aula](https://colab.research.google.com/github/Rogerio-mack/IMT_CD_2025/blob/main/Pandas_I.ipynb)

- [Pandas User Guide](https://pandas.pydata.org/docs/user_guide/index.html#user-guide)

---

## **CASE Insurance**

Acesse a base de dados [`insurance`](https://github.com/Rogerio-mack/IMT_CD_2025/raw/refs/heads/main/data/insurance.csv) para as questões a seguir.

##### Q1. Acesse os dados explore a estrutura básica dos dados de `insurance`.

> * Qual o número de caso de seguro?
> * Quantos atributos são numéricos?
> * Há quantos valores diferentes para região?
> * Qual a maior quantidade de filhos?

In [ ]:
# prompt: ler o dataframe https://github.com/Rogerio-mack/IMT_CD_2025/raw/refs/heads/main/data/insurance.csv

import pandas as pd

# Ler o dataframe a partir do URL
df_insurance = pd.read_csv('https://github.com/Rogerio-mack/IMT_CD_2025/raw/refs/heads/main/data/insurance.csv')

# Q1. Explore a estrutura básica dos dados de insurance.

# Número de casos de seguro (linhas)
num_casos = len(df_insurance)
print(f"Número de casos de seguro: {num_casos}")

# Número de atributos numéricos
num_atributos_numericos = len(df_insurance.select_dtypes(include=['number']).columns)
print(f"Número de atributos numéricos: {num_atributos_numericos}")

# Número de valores diferentes para região
num_regioes_diferentes = len(df_insurance['region'].unique())
print(f"Número de valores diferentes para região: {num_regioes_diferentes}")

# Maior quantidade de filhos
maior_num_filhos = df_insurance['children'].max()
print(f"Maior quantidade de filhos: {maior_num_filhos}")

Número de casos de seguro: 1338
Número de atributos numéricos: 4
Número de valores diferentes para região: 4
Maior quantidade de filhos: 5

In [ ]:
df = df_insurance.copy()

In [ ]:
df.shape

(1338, 7)

In [ ]:
df.dtypes

age           int64
sex          object
bmi         float64
children      int64
smoker       object
region       object
charges     float64
dtype: object

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1338 non-null   int64
 1   sex       1338 non-null   object
 2   bmi       1338 non-null   float64
 3   children  1338 non-null   int64
 4   smoker    1338 non-null   object
 5   region    1338 non-null   object
 6   charges   1338 non-null   float64
dtypes: float64(2), int64(2), object(3)
memory usage: 73.3+ KB

In [ ]:
df_insurance['region'].unique()

array(['southwest', 'southeast', 'northwest', 'northeast'], dtype=object)

In [ ]:
df_insurance['region'].nunique()

4

In [ ]:
df_insurance['region'].value_counts()

region
southeast    364
southwest    325
northwest    325
northeast    324
Name: count, dtype: int64

In [ ]:
df.isnull().sum()

age         0
sex         0
bmi         0
children    0
smoker      0
region      0
charges     0
dtype: int64

In [ ]:
df_insurance['children'].max()

5

In [ ]:
df_insurance.children.max()

5

In [ ]:
df_insurance[['children']].max()

children    5
dtype: int64

In [ ]:
print(f"Maior quantidade de filhos: {df_insurance['children'].mean():.2f}")

Maior quantidade de filhos: 1.09

In [ ]:
%%script echo skipping ERRO!
print(f"Maior quantidade de filhos: {df_insurance[['children']].mean():.2f}")

skipping ERRO!

##### Q2. Qual a quantidade de casos por região?

In [ ]:
df_insurance['region'].value_counts()

region
southeast    364
southwest    325
northwest    325
northeast    324
Name: count, dtype: int64

##### Q3. Qual a média dos pagamentos (charges) efetuados?

In [ ]:
print(f'valor médio: {df.charges.mean():.2f}')

valor médio: 13270.42

##### Q4. Qual a média dos pagamentos (charges) dos 10 maiores pagamentos efetuados?

In [ ]:
df.nlargest(3, 'charges')

      age     sex     bmi  children smoker     region      charges
543    54  female  47.410         0    yes  southeast  63770.42801
1300   45    male  30.360         0    yes  southeast  62592.87309
1230   52    male  34.485         3    yes  northwest  60021.39897

In [ ]:
df.charges.nlargest(3) #.mean()

543     63770.42801
1300    62592.87309
1230    60021.39897
Name: charges, dtype: float64

##### Q5. Calcule a distância interquartis dos pagamentos.

**Dica** Empregue a função `quantile()` do `Pandas` e use IQR = Q3 - Q1.

In [ ]:
IQR = df.charges.quantile(0.75) - df.charges.quantile(0.25)
IQR

np.float64(11899.625365)

In [ ]:
df.charges.quantile([0.1, 0.25, 0.9])

0.10     2346.533615
0.25     4740.287150
0.90    34831.719700
Name: charges, dtype: float64

##### Q6. Empregue o valor IQR da questão anterior para verificar se existem *outliers* dos pagamentos.

**Dica** *outliers* são dados fora do intervalo $[Q1 - 1.5 IQR, Q3 + 1.5 IQR]$

In [ ]:
inf = df.charges.quantile(0.25) - 1.5 * IQR
sup = df.charges.quantile(0.75) + 1.5 * IQR
print(inf, sup)

-13109.1508975 34489.350562499996

In [ ]:
df.describe()

               age          bmi     children       charges
count  1338.000000  1338.000000  1338.000000   1338.000000
mean     39.207025    30.663397     1.094918  13270.422265
std      14.049960     6.098187     1.205493  12110.011237
min      18.000000    15.960000     0.000000   1121.873900
25%      27.000000    26.296250     0.000000   4740.287150
50%      39.000000    30.400000     1.000000   9382.033000
75%      51.000000    34.693750     2.000000  16639.912515
max      64.000000    53.130000     5.000000  63770.428010

In [ ]:
len(df[ df.charges > sup ])

0       False
1       False
2       False
3       False
4       False
        ...
1333    False
1334    False
1335    False
1336    False
1337    False
Name: charges, Length: 1338, dtype: bool

In [ ]:
sum(df.charges > sup)

139

##### Q7. Qual a média dos pagamentos efetuados para os 10 casos com menor idade dos segurados? Aqui, empregue a função `nsmallest()`.

In [ ]:
less10 = df.nsmallest(10,'age')
less10.charges.mean()

np.float64(11968.65424)

##### Q8. Revise a questão anterior. De fato calculamos a média de *todos* os seguros de indivíduos com idade entre as 10 menores idades?

**Dica** Verifique quantos indivíduos há com a menor idade

In [ ]:
df.age.value_counts()

age
18    69
19    68
46    29
52    29
50    29
47    29
48    29
51    29
45    29
20    29
24    28
27    28
28    28
25    28
23    28
49    28
54    28
53    28
22    28
21    28
26    28
31    27
41    27
44    27
43    27
42    27
29    27
30    27
40    27
32    26
33    26
57    26
34    26
55    26
56    26
35    25
58    25
37    25
59    25
39    25
36    25
38    25
62    23
60    23
63    23
61    23
64    22
Name: count, dtype: int64

In [ ]:
df[ df.age == df.age.min() ].charges.mean()

np.float64(7086.217556362319)