<a href="https://colab.research.google.com/github/Rogerio-mack/IMT_CD_2025/blob/main/hands_on_class_2_ipynb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

df = pd.read_csv('https://vincentarelbundock.github.io/Rdatasets/csv/openintro/mlb_teams.csv')
df.head()

,rownames,year,league_id,division_id,rank,games_played,home_games,wins,losses,division_winner,...,hits_allowed,homeruns_allowed,walks_allowed,strikeouts_by_pitchers,errors,double_plays,fielding_percentage,team_name,ball_park,home_attendance
0,1,1876,NL,NaN,4,70,NaN,39,31,NaN,...,732,7,104,77,442,42,0.860,Boston Red Caps,South End Grounds I,NaN
1,2,1876,NL,NaN,1,66,NaN,52,14,NaN,...,608,6,29,51,282,33,0.899,Chicago White Stockings,23rd Street Grounds,NaN
2,3,1876,NL,NaN,8,65,NaN,9,56,NaN,...,850,9,34,60,469,45,0.841,Cincinnati Reds,Avenue Grounds,NaN
3,4,1876,NL,NaN,2,69,NaN,47,21,NaN,...,570,2,27,114,337,27,0.888,Hartford Dark Blues,Hartford Ball Club Grounds,NaN
4,5,1876,NL,NaN,5,69,NaN,30,36,NaN,...,605,3,38,125,397,44,0.875,Louisville Grays,Louisville Baseball Park,NaN

# Estrutura dos dados

In [2]:
df.shape

(2784, 42)

In [3]:
len(df)

2784

In [4]:
df.shape[0]

2784

In [5]:
df.dtypes

rownames                    int64
year                        int64
league_id                  object
division_id                object
rank                        int64
games_played                int64
home_games                float64
wins                        int64
losses                      int64
division_winner            object
wild_card_winner           object
league_winner              object
world_series_winner        object
runs_scored                 int64
at_bats                     int64
hits                        int64
doubles                     int64
triples                     int64
homeruns                    int64
walks                       int64
strikeouts_by_batters     float64
stolen_bases              float64
caught_stealing           float64
batters_hit_by_pitch      float64
sacrifice_flies           float64
opponents_runs_scored       int64
earned_runs_allowed         int64
earned_run_average        float64
complete_games              int64
shutouts                    int64
saves                       int64
outs_pitches                int64
hits_allowed                int64
homeruns_allowed            int64
walks_allowed               int64
strikeouts_by_pitchers      int64
errors                      int64
double_plays                int64
fielding_percentage       float64
team_name                  object
ball_park                  object
home_attendance           float64
dtype: object

In [6]:
df.describe()

,rownames,year,rank,games_played,home_games,wins,losses,runs_scored,at_bats,hits,...,saves,outs_pitches,hits_allowed,homeruns_allowed,walks_allowed,strikeouts_by_pitchers,errors,double_plays,fielding_percentage,home_attendance
count,2784.000000,2784.000000,2784.000000,2784.000000,2556.000000,2784.000000,2784.000000,2784.000000,2784.000000,2784.000000,...,2784.000000,2784.000000,2784.000000,2784.000000,2784.000000,2784.000000,2784.000000,2784.000000,2784.000000,2.676000e+03
mean,1392.500000,1962.717672,3.980963,153.118534,78.014476,76.189296,76.189296,687.576509,5227.864583,1367.210848,...,25.640805,4099.207974,1366.976293,110.257543,487.762931,781.191092,168.217672,136.936063,0.971032,1.375102e+06
std,803.815899,39.800654,2.237914,18.201875,6.971355,15.909342,15.853321,126.206345,606.564336,185.892343,...,15.778069,498.410279,188.124981,58.057904,112.202251,300.560361,90.254000,31.340128,0.019017,9.662279e+05
min,1.000000,1876.000000,1.000000,57.000000,24.000000,9.000000,14.000000,219.000000,1752.000000,390.000000,...,0.000000,1419.000000,376.000000,2.000000,24.000000,22.000000,20.000000,18.000000,0.825000,0.000000e+00
25%,696.750000,1930.000000,2.000000,154.000000,77.000000,67.000000,67.000000,619.000000,5204.750000,1316.000000,...,11.000000,4101.000000,1306.000000,64.000000,439.000000,531.000000,111.000000,122.000000,0.969000,5.348265e+05
50%,1392.500000,1970.000000,4.000000,161.000000,81.000000,78.000000,77.000000,693.000000,5422.000000,1398.000000,...,27.000000,4278.000000,1399.000000,117.000000,500.000000,784.000000,139.000000,142.000000,0.977000,1.184548e+06
75%,2088.250000,1997.000000,5.000000,162.000000,81.000000,88.000000,87.000000,765.000000,5527.000000,1470.000000,...,39.000000,4345.000000,1474.000000,155.000000,558.000000,1001.000000,189.000000,158.000000,0.981000,2.068023e+06
max,2784.000000,2020.000000,12.000000,165.000000,84.000000,116.000000,134.000000,1220.000000,5781.000000,1783.000000,...,68.000000,4518.000000,1993.000000,305.000000,827.000000,1687.000000,639.000000,217.000000,0.991000,4.483350e+06

In [7]:
df.describe(include='all')

,rownames,year,league_id,division_id,rank,games_played,home_games,wins,losses,division_winner,...,hits_allowed,homeruns_allowed,walks_allowed,strikeouts_by_pitchers,errors,double_plays,fielding_percentage,team_name,ball_park,home_attendance
count,2784.000000,2784.000000,2784,1438,2784.000000,2784.000000,2556.000000,2784.000000,2784.000000,1410,...,2784.000000,2784.000000,2784.000000,2784.000000,2784.000000,2784.000000,2784.000000,2784,2784,2.676000e+03
unique,NaN,NaN,2,3,NaN,NaN,NaN,NaN,NaN,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,86,183,NaN
top,NaN,NaN,NL,E,NaN,NaN,NaN,NaN,NaN,N,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Pittsburgh Pirates,Wrigley Field,NaN
freq,NaN,NaN,1504,588,NaN,NaN,NaN,NaN,NaN,1150,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,130,105,NaN
mean,1392.500000,1962.717672,NaN,NaN,3.980963,153.118534,78.014476,76.189296,76.189296,NaN,...,1366.976293,110.257543,487.762931,781.191092,168.217672,136.936063,0.971032,NaN,NaN,1.375102e+06
std,803.815899,39.800654,NaN,NaN,2.237914,18.201875,6.971355,15.909342,15.853321,NaN,...,188.124981,58.057904,112.202251,300.560361,90.254000,31.340128,0.019017,NaN,NaN,9.662279e+05
min,1.000000,1876.000000,NaN,NaN,1.000000,57.000000,24.000000,9.000000,14.000000,NaN,...,376.000000,2.000000,24.000000,22.000000,20.000000,18.000000,0.825000,NaN,NaN,0.000000e+00
25%,696.750000,1930.000000,NaN,NaN,2.000000,154.000000,77.000000,67.000000,67.000000,NaN,...,1306.000000,64.000000,439.000000,531.000000,111.000000,122.000000,0.969000,NaN,NaN,5.348265e+05
50%,1392.500000,1970.000000,NaN,NaN,4.000000,161.000000,81.000000,78.000000,77.000000,NaN,...,1399.000000,117.000000,500.000000,784.000000,139.000000,142.000000,0.977000,NaN,NaN,1.184548e+06
75%,2088.250000,1997.000000,NaN,NaN,5.000000,162.000000,81.000000,88.000000,87.000000,NaN,...,1474.000000,155.000000,558.000000,1001.000000,189.000000,158.000000,0.981000,NaN,NaN,2.068023e+06
max,2784.000000,2020.000000,NaN,NaN,12.000000,165.000000,84.000000,116.000000,134.000000,NaN,...,1993.000000,305.000000,827.000000,1687.000000,639.000000,217.000000,0.991000,NaN,NaN,4.483350e+06

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2784 entries, 0 to 2783
Data columns (total 42 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   rownames                2784 non-null   int64
 1   year                    2784 non-null   int64
 2   league_id               2784 non-null   object
 3   division_id             1438 non-null   object
 4   rank                    2784 non-null   int64
 5   games_played            2784 non-null   int64
 6   home_games              2556 non-null   float64
 7   wins                    2784 non-null   int64
 8   losses                  2784 non-null   int64
 9   division_winner         1410 non-null   object
 10  wild_card_winner        774 non-null    object
 11  league_winner           2756 non-null   object
 12  world_series_winner     2536 non-null   object
 13  runs_scored             2784 non-null   int64
 14  at_bats                 2784 non-null   int64
 15  hits                    2784 non-null   int64
 16  doubles                 2784 non-null   int64
 17  triples                 2784 non-null   int64
 18  homeruns                2784 non-null   int64
 19  walks                   2784 non-null   int64
 20  strikeouts_by_batters   2768 non-null   float64
 21  stolen_bases            2708 non-null   float64
 22  caught_stealing         2076 non-null   float64
 23  batters_hit_by_pitch    1718 non-null   float64
 24  sacrifice_flies         1414 non-null   float64
 25  opponents_runs_scored   2784 non-null   int64
 26  earned_runs_allowed     2784 non-null   int64
 27  earned_run_average      2784 non-null   float64
 28  complete_games          2784 non-null   int64
 29  shutouts                2784 non-null   int64
 30  saves                   2784 non-null   int64
 31  outs_pitches            2784 non-null   int64
 32  hits_allowed            2784 non-null   int64
 33  homeruns_allowed        2784 non-null   int64
 34  walks_allowed           2784 non-null   int64
 35  strikeouts_by_pitchers  2784 non-null   int64
 36  errors                  2784 non-null   int64
 37  double_plays            2784 non-null   int64
 38  fielding_percentage     2784 non-null   float64
 39  team_name               2784 non-null   object
 40  ball_park               2784 non-null   object
 41  home_attendance         2676 non-null   float64
dtypes: float64(9), int64(25), object(8)
memory usage: 913.6+ KB

In [10]:
df.columns

Index(['rownames', 'year', 'league_id', 'division_id', 'rank', 'games_played',
       'home_games', 'wins', 'losses', 'division_winner', 'wild_card_winner',
       'league_winner', 'world_series_winner', 'runs_scored', 'at_bats',
       'hits', 'doubles', 'triples', 'homeruns', 'walks',
       'strikeouts_by_batters', 'stolen_bases', 'caught_stealing',
       'batters_hit_by_pitch', 'sacrifice_flies', 'opponents_runs_scored',
       'earned_runs_allowed', 'earned_run_average', 'complete_games',
       'shutouts', 'saves', 'outs_pitches', 'hits_allowed', 'homeruns_allowed',
       'walks_allowed', 'strikeouts_by_pitchers', 'errors', 'double_plays',
       'fielding_percentage', 'team_name', 'ball_park', 'home_attendance'],
      dtype='object')

In [11]:
len(df.columns)

42

In [12]:
df.columns[5:10]

Index(['games_played', 'home_games', 'wins', 'losses', 'division_winner'], dtype='object')

In [13]:
df.isnull()

,rownames,year,league_id,division_id,rank,games_played,home_games,wins,losses,division_winner,...,hits_allowed,homeruns_allowed,walks_allowed,strikeouts_by_pitchers,errors,double_plays,fielding_percentage,team_name,ball_park,home_attendance
0,False,False,False,True,False,False,True,False,False,True,...,False,False,False,False,False,False,False,False,False,True
1,False,False,False,True,False,False,True,False,False,True,...,False,False,False,False,False,False,False,False,False,True
2,False,False,False,True,False,False,True,False,False,True,...,False,False,False,False,False,False,False,False,False,True
3,False,False,False,True,False,False,True,False,False,True,...,False,False,False,False,False,False,False,False,False,True
4,False,False,False,True,False,False,True,False,False,True,...,False,False,False,False,False,False,False,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2779,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2780,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2781,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2782,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2783,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [14]:
df.isnull().sum()

rownames                     0
year                         0
league_id                    0
division_id               1346
rank                         0
games_played                 0
home_games                 228
wins                         0
losses                       0
division_winner           1374
wild_card_winner          2010
league_winner               28
world_series_winner        248
runs_scored                  0
at_bats                      0
hits                         0
doubles                      0
triples                      0
homeruns                     0
walks                        0
strikeouts_by_batters       16
stolen_bases                76
caught_stealing            708
batters_hit_by_pitch      1066
sacrifice_flies           1370
opponents_runs_scored        0
earned_runs_allowed          0
earned_run_average           0
complete_games               0
shutouts                     0
saves                        0
outs_pitches                 0
hits_allowed                 0
homeruns_allowed             0
walks_allowed                0
strikeouts_by_pitchers       0
errors                       0
double_plays                 0
fielding_percentage          0
team_name                    0
ball_park                    0
home_attendance            108
dtype: int64

In [15]:
df.isnull().sum().sum()

8578

# Seleções

## Seleção de colunas, 1 coluna

```
df.team_name == df['team_name'] != df[['team-name']]
```

In [16]:
df.team_name

0               Boston Red Caps
1       Chicago White Stockings
2               Cincinnati Reds
3           Hartford Dark Blues
4              Louisville Grays
                 ...
2779        St. Louis Cardinals
2780             Tampa Bay Rays
2781              Texas Rangers
2782          Toronto Blue Jays
2783       Washington Nationals
Name: team_name, Length: 2784, dtype: object

In [20]:
print(df['team_name'])

0               Boston Red Caps
1       Chicago White Stockings
2               Cincinnati Reds
3           Hartford Dark Blues
4              Louisville Grays
                 ...
2779        St. Louis Cardinals
2780             Tampa Bay Rays
2781              Texas Rangers
2782          Toronto Blue Jays
2783       Washington Nationals
Name: team_name, Length: 2784, dtype: object

In [21]:
print(df[['team_name']])

                    team_name
0             Boston Red Caps
1     Chicago White Stockings
2             Cincinnati Reds
3         Hartford Dark Blues
4            Louisville Grays
...                       ...
2779      St. Louis Cardinals
2780           Tampa Bay Rays
2781            Texas Rangers
2782        Toronto Blue Jays
2783     Washington Nationals

[2784 rows x 1 columns]

In [19]:
selecao = 'team_name'

df[selecao]

0               Boston Red Caps
1       Chicago White Stockings
2               Cincinnati Reds
3           Hartford Dark Blues
4              Louisville Grays
                 ...
2779        St. Louis Cardinals
2780             Tampa Bay Rays
2781              Texas Rangers
2782          Toronto Blue Jays
2783       Washington Nationals
Name: team_name, Length: 2784, dtype: object

In [22]:
type(df['team_name'])

pandas.core.series.Series

In [24]:
type(df[['team_name']])

pandas.core.frame.DataFrame

In [27]:
df.wins.mean(), df['wins'].quantile(.9)

(76.1892959770115, 95.0)

In [28]:
df[['team_name']].value_counts()

team_name
Cincinnati Reds          130
Pittsburgh Pirates       130
Philadelphia Phillies    129
St. Louis Cardinals      121
Chicago White Sox        120
                        ...
Seattle Pilots             1
Cleveland Bronchos         1
Milwaukee Grays            1
Boston Rustlers            1
St. Louis Perfectos        1
Name: count, Length: 86, dtype: int64

## Seleção de colunas, $n$ colunas

In [29]:
df[['team_name','wins','losses']]

                    team_name  wins  losses
0             Boston Red Caps    39      31
1     Chicago White Stockings    52      14
2             Cincinnati Reds     9      56
3         Hartford Dark Blues    47      21
4            Louisville Grays    30      36
...                       ...   ...     ...
2779      St. Louis Cardinals    30      28
2780           Tampa Bay Rays    40      20
2781            Texas Rangers    22      38
2782        Toronto Blue Jays    32      28
2783     Washington Nationals    26      34

[2784 rows x 3 columns]

In [30]:
df[['team_name','wins','losses']].describe(include='all')

                 team_name         wins       losses
count                 2784  2784.000000  2784.000000
unique                  86          NaN          NaN
top     Pittsburgh Pirates          NaN          NaN
freq                   130          NaN          NaN
mean                   NaN    76.189296    76.189296
std                    NaN    15.909342    15.853321
min                    NaN     9.000000    14.000000
25%                    NaN    67.000000    67.000000
50%                    NaN    78.000000    77.000000
75%                    NaN    88.000000    87.000000
max                    NaN   116.000000   134.000000

In [31]:
df[['team_name','wins','losses']].head()

                 team_name  wins  losses
0          Boston Red Caps    39      31
1  Chicago White Stockings    52      14
2          Cincinnati Reds     9      56
3      Hartford Dark Blues    47      21
4         Louisville Grays    30      36

In [32]:
my_df = df[['team_name','wins','losses']]
my_df.head()

                 team_name  wins  losses
0          Boston Red Caps    39      31
1  Chicago White Stockings    52      14
2          Cincinnati Reds     9      56
3      Hartford Dark Blues    47      21
4         Louisville Grays    30      36

In [33]:
df[['wins','losses']].mean()

wins      76.189296
losses    76.189296
dtype: float64

## Seleção de linhas

In [34]:
df[ df.team_name == 'Boston Red Sox' ]

,rownames,year,league_id,division_id,rank,games_played,home_games,wins,losses,division_winner,...,hits_allowed,homeruns_allowed,walks_allowed,strikeouts_by_pitchers,errors,double_plays,fielding_percentage,team_name,ball_park,home_attendance
340,341,1908,AL,NaN,5,155,77.0,75,79,NaN,...,1200,18,364,624,297,71,0.955,Boston Red Sox,Huntington Avenue Grounds,473048.0
356,357,1909,AL,NaN,3,152,75.0,88,63,NaN,...,1213,18,384,555,292,95,0.955,Boston Red Sox,Huntington Avenue Grounds,668965.0
372,373,1910,AL,NaN,4,158,80.0,81,72,NaN,...,1236,30,414,670,309,80,0.954,Boston Red Sox,Huntington Avenue Grounds,584619.0
388,389,1911,AL,NaN,4,153,76.0,78,75,NaN,...,1309,21,473,711,322,93,0.949,Boston Red Sox,Huntington Avenue Grounds,503961.0
404,405,1912,AL,NaN,1,154,78.0,105,47,NaN,...,1243,18,385,712,266,88,0.957,Boston Red Sox,Fenway Park I,597096.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2637,2638,2016,AL,E,1,162,81.0,93,69,Y,...,1342,176,490,1362,75,139,0.987,Boston Red Sox,Fenway Park II,2955434.0
2667,2668,2017,AL,E,1,162,81.0,93,69,Y,...,1384,195,465,1580,107,126,0.982,Boston Red Sox,Fenway Park II,2917678.0
2697,2698,2018,AL,E,1,162,81.0,108,54,Y,...,1305,176,512,1558,77,106,0.987,Boston Red Sox,Fenway Park II,2895575.0
2727,2728,2019,AL,E,3,162,81.0,84,78,N,...,1423,215,605,1633,88,115,0.985,Boston Red Sox,Fenway Park II,2924627.0
2757,2758,2020,AL,E,5,60,31.0,24,36,N,...,587,98,252,537,45,59,0.979,Boston Red Sox,Fenway Park II,0.0

In [36]:
df[ (df.team_name == 'Boston Red Sox') & (df.year > 2015) ]

,rownames,year,league_id,division_id,rank,games_played,home_games,wins,losses,division_winner,...,hits_allowed,homeruns_allowed,walks_allowed,strikeouts_by_pitchers,errors,double_plays,fielding_percentage,team_name,ball_park,home_attendance
2637,2638,2016,AL,E,1,162,81.0,93,69,Y,...,1342,176,490,1362,75,139,0.987,Boston Red Sox,Fenway Park II,2955434.0
2667,2668,2017,AL,E,1,162,81.0,93,69,Y,...,1384,195,465,1580,107,126,0.982,Boston Red Sox,Fenway Park II,2917678.0
2697,2698,2018,AL,E,1,162,81.0,108,54,Y,...,1305,176,512,1558,77,106,0.987,Boston Red Sox,Fenway Park II,2895575.0
2727,2728,2019,AL,E,3,162,81.0,84,78,N,...,1423,215,605,1633,88,115,0.985,Boston Red Sox,Fenway Park II,2924627.0
2757,2758,2020,AL,E,5,60,31.0,24,36,N,...,587,98,252,537,45,59,0.979,Boston Red Sox,Fenway Park II,0.0

In [37]:
(df.team_name == 'Boston Red Sox')

0       False
1       False
2       False
3       False
4       False
        ...
2779    False
2780    False
2781    False
2782    False
2783    False
Name: team_name, Length: 2784, dtype: bool

In [38]:
selecao = (df.team_name == 'Boston Red Sox') & (df.year > 2015)

df[selecao]

,rownames,year,league_id,division_id,rank,games_played,home_games,wins,losses,division_winner,...,hits_allowed,homeruns_allowed,walks_allowed,strikeouts_by_pitchers,errors,double_plays,fielding_percentage,team_name,ball_park,home_attendance
2637,2638,2016,AL,E,1,162,81.0,93,69,Y,...,1342,176,490,1362,75,139,0.987,Boston Red Sox,Fenway Park II,2955434.0
2667,2668,2017,AL,E,1,162,81.0,93,69,Y,...,1384,195,465,1580,107,126,0.982,Boston Red Sox,Fenway Park II,2917678.0
2697,2698,2018,AL,E,1,162,81.0,108,54,Y,...,1305,176,512,1558,77,106,0.987,Boston Red Sox,Fenway Park II,2895575.0
2727,2728,2019,AL,E,3,162,81.0,84,78,N,...,1423,215,605,1633,88,115,0.985,Boston Red Sox,Fenway Park II,2924627.0
2757,2758,2020,AL,E,5,60,31.0,24,36,N,...,587,98,252,537,45,59,0.979,Boston Red Sox,Fenway Park II,0.0

## Seleção de linhas e colunas

In [39]:
df[(df.team_name == 'Boston Red Sox') & (df.year > 2015)].wins

2637     93
2667     93
2697    108
2727     84
2757     24
Name: wins, dtype: int64

In [42]:
df[(df.team_name == 'Boston Red Sox') & (df.year > 2015)][['year', 'wins', 'losses']]

      year  wins  losses
2637  2016    93      69
2667  2017    93      69
2697  2018   108      54
2727  2019    84      78
2757  2020    24      36

# Proporções

In [45]:
len(df[ df.year >= 2000 ]) / len(df)

0.22629310344827586

In [47]:
len(df[ df.team_name == 'Boston Red Sox' ]) / len(df)

0.04058908045977012

In [49]:
df.team_name.value_counts() / len(df)

team_name
Pittsburgh Pirates       0.046695
Cincinnati Reds          0.046695
Philadelphia Phillies    0.046336
St. Louis Cardinals      0.043463
Detroit Tigers           0.043103
                           ...
St. Louis Perfectos      0.000359
Milwaukee Grays          0.000359
Indianapolis Blues       0.000359
Boston Rustlers          0.000359
New York Mutuals         0.000359
Name: count, Length: 86, dtype: float64